@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.text-zoom-gradient {
  background-size: 200% 200%;
  display: inline-block;
}
